In [ ]:
#install
%pip install jupyter/datascience-notebook

In [60]:
import glob
import math
import pandas as pd

%matplotlib inline
MINIMUM_DONATE = 25

file_list = glob.glob('src/vakinha*.json')
file_list.sort(reverse = True)

df = pd.read_json(file_list[0])

# Number of vakinhas before clean the data

In [52]:
len(df)

484

In [53]:
def clean_price_data(value):
    value = value.replace(',00', '')
    value = value.replace('R$', '')
    value = value.replace('.', '')
    value = value.replace(',', '.')
    return float(value)

df['collected'] = df['collected'].apply(lambda value: clean_price_data(value))
df['goal'] = df['goal'].apply(lambda value: clean_price_data(value))

In [54]:
df['different'] = df.apply(lambda row: row.goal - row.collected, axis=1)
df['percentage_goal'] = df.apply(lambda row: ((row.collected * 100) / row.goal), axis=1)

# Filter vakinhas that did not reach the goal

In [55]:
df = df[df.percentage_goal < 100]
len(df)

461

# Order the vakinhas by the 'percentage_goal' closer than 100%

In [56]:
df_sorted = df.sort_values(by=['percentage_goal'], ascending=False)
df_sorted.head()

,collected,created_at,end_at,goal,id,link,title,different,percentage_goal
74,2630.0,2019-08-08,2019-02-09,2640.0,672297,http://vaka.me/672297,Ajude O Chico!,10.0,99.621212
121,3850.0,2019-07-08,2019-10-10,4000.0,671202,http://vaka.me/671202,Vira Lata Atropelada,150.0,96.250000
238,475.0,2019-06-08,2019-06-09,500.0,669872,http://vaka.me/669872,Ajude A Amelie,25.0,95.000000
316,3795.0,2019-05-08,2019-07-08,4000.0,668034,http://vaka.me/668034,Dentista Para O Thiaguinho,205.0,94.875000
314,3750.0,2019-05-08,2019-03-11,4000.0,667962,http://vaka.me/667962,Ajudem O Heitorzinho,250.0,93.750000

# How many people need to help to reach the goal
**number_of_people** is the max of people are needed to finish that Vakinha and reach the goal

In [57]:
df['number_of_people'] = df.apply(lambda row: math.ceil(row.different / MINIMUM_DONATE), axis=1)

# Order the vakinhas by the 'number_of_people' closer than 100%

In [58]:
df_sorted = df.sort_values(by=['number_of_people'])
df_sorted.head()

,collected,created_at,end_at,goal,id,link,title,different,percentage_goal,number_of_people
238,475.0,2019-06-08,2019-06-09,500.0,669872,http://vaka.me/669872,Ajude A Amelie,25.0,95.000000,1
74,2630.0,2019-08-08,2019-02-09,2640.0,672297,http://vaka.me/672297,Ajude O Chico!,10.0,99.621212,1
253,560.0,2019-05-08,2019-04-11,600.0,668638,http://vaka.me/668638,Castração Jade Infecção ...,40.0,93.333333,2
54,190.0,2019-08-08,2019-07-11,245.0,673104,http://vaka.me/673104,Ajude O Luke A Andar,55.0,77.551020,3
376,425.0,2019-05-08,2019-08-25,500.0,667409,http://vaka.me/667409,Cirurgia De Otohematoma ...,75.0,85.000000,3